docker/db/storage/*
.env
src/.env
src/_.env
src/.env.org
src/.env0315
src/.env20221025
src/1223.env
# for WSL / MacOS
*Zone.Identifier
.DS_Store
src/node_modules
src/public/build
src/public/hot
src/public/storage
src/storage/*.key
src/vendor
src/vendor.bak
src/.env
src/storage/framework/*
src/storage/logs/*
.env.backup
.env.production
src/.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode